body{
    background-image:url(https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-repeat:no-repeat;
    background-size: 100%;
}

footer{

	margin-top: 20px;
	padding-top: 20px;
}
.bg__card__navbar{
	background-color: #000000;
}
.bg__card__footer{
	background-color: #000000 !important;
}
#add__new__list{
    top: -38px;
    right: 0px;
}

td {
  margin-left: 5px;
  padding-left: 5px;
}
